.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    height: 10vh ;
    align-items: center;
}

.logo-container img {
    width: 52px;
}

.login-links {
    display: flex;
    gap: 1rem;
}

.login-links a  {
    border: 2px solid var(--main-color);
    padding: 7px;
    font-weight: bold;
    transition: 0.2s;
    border-radius: 10px;
}

.login-links a:hover {
    background-color: var(--main-color);
    color: var(--white);
}

.login-links a:last-child {
    background-color: var(--orange);
    color: var(--white);
    border: none;
}

.login-links a:last-child:hover {
    background-color: red;
}